dist
dist-newstyle
.stack-work
.HTF
\#*#
*~
*.lkshs
*.lkshw
*/*.lkshs
*/*.lkshw
unused.txt
*.autosave*
cabal.project.local
ideaHaskellLib
out
testForLitText
site/baked/*
docs/site/baked/*
*.sav
*.bak
.haskell-code-explorer
