/* the menu stuff */
/* assumes style.css */

.menu>li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    text-indent: 0;
}

.menu span {
    padding: 0 8px;
}

.menu {
    padding: 0;
    margin: 0;
    text-indent: 0;
    font-weight: bold;
}

.menu menu {
    font-size: 12px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#3e662a;
}

/* example https://www.w3schools.com/css/css_navbar.asp */
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3e662a;
}


.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #111;
}

.menu .active {
  background-color: #4CAF50;
  color: white;
}
